<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073091855087-tv3n2u8vvq94hkkalfiftaoonjlepapf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073091855087-tv3n2u8vvq94hkkalfiftaoonjlepapf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073091855087-7qilidjs2402f856i4kcv7t5v7msaq17.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFssV1iDcWeC9e9oi_v8V2OqvLLZ4B6IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1073091855087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azapps.GalleryApp</string>
	<key>PROJECT_ID</key>
	<string>galleryapp-32353</string>
	<key>STORAGE_BUCKET</key>
	<string>galleryapp-32353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073091855087:ios:ae3f212465f973ee2e511a</string>
</dict>
</plist>